.privacy-policy-container {
  margin: 40px;
}
.privacy-policy-main-title {
  font-size: 24px;
  font-weight: 700;
 text-align: center;
}

.privacy-policy-discription-title {
  font-size: 18px;
  font-weight: 700;
 
}

.privacy-policy-description {
  font-size: 14px;
}
.privacy-policy-description-span {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}
.privacy-policy-description-span-one {
  font-size: 14px;
  font-weight: 700;
}

.privacy-policy-description-one {
  font-size: 16px;
}
.privacy-policy-ordered-list {
  font-size: 14px;
  margin-left: 20px;
  list-style: lower-alpha;
}
.privacy-policy-link-tag{
  color: blue;
}