.about-us-container {
    margin: 40px;
    height: 100vh;
  }
  .about-us-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #0b0e8e;
  }
  .about-us-description {
    font-size: 14px;
  }
  .about-us-span {
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    color: #0b0e8e;
  }

  