.disclaimer-container {
  margin: 40px;
}
.disclaimer-main-title {
  font-size: 18px;
  font-weight: 700;
}
.disclaimer-description {
  font-size: 14px;
  text-indent: 50px;
}
.disclaimer-description-one {
  font-size: 14px;
}
.ordered-list {
  font-size: 14px;
  margin-left: 20px;
}
.unOrdered-list {
  font-size: 14px;
  list-style: none;
}
.unOrdered-list-item {
  margin-bottom: 10px;
}
