.shipping-and-delivery-container {
  margin: 40px;
}
.shipping-and-delivery-main-title {
  font-size: 18px;
  font-weight: 700;
}
.shipping-and-delivery-description {
  font-size: 14px;
}
.shipping-and-delivery-description-one {
  font-size: 14px;
}
.shipping-and-delivery-ordered-list {
  font-size: 14px;
  list-style: lower-alpha;
}
