* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-categories-container {
  background-color:#ffffff;
  margin: 40px 25px;
}

.all-categories-image {
  height: auto;
  width: 100%;
  background-color: gray;
}

.all-categories-title {
  font-size: 34;
  margin: 1.75rem 0 0.75rem;
  line-height: 1.3;
  color: #0b0e8e;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
}

.all-categories-list {
  list-style: none;
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
  padding-left: 0;
  gap: 20px;
}

.all-categories-item-container {
  border: 1px solid rgba(128, 128, 128, 0.16);
  box-shadow: 0 1px 4px #8080801c;
  width: calc(33.33% - 13.33px);
}

.all-categories-item {
  display: flex;
  height: 100%;
  padding: 1.75rem 1.25rem;
}

.all-categories-item-image {
  width: 35%;
  position: relative;
}

.categories-image {
  height: 120px;
  width: 120px;
  cursor: pointer;
  background-color: gray;
}

.all-categories-subCategory-container {
  width: 55%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
}

.all-categories-category-title {
  margin: 0;
  text-align: left;
  color: #0b0e8e;
  padding: 0 0 10px;
  position: relative;
  font-size: 16.875px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
  cursor: pointer;
}

.all-categories-subCategory-list {
  padding: 0;
  line-height: 1.5;
  list-style: none;
  text-align: left;
}

.all-categories-subCategory-list-item {
  line-height: 1.5;
  margin-bottom: 4px;
  color: #046e82;
  cursor: pointer;
  font-size: 15px;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.all-categories-shopall {
  font-weight: 700;
  margin-top: 1.75rem;
}

@media screen and (max-width: 479px) {
  .all-categories-item-container {
    width: 100%;
  }
  .all-categories-list {
    gap: 10px;
  }
  .categories-image {
    height: 100px;
    width: 100px;
  }
  .all-categories-container {
    margin: 30px 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .all-categories-item-container {
    width: 100%;
  }
  .categories-image {
    height: 100px;
    width: 100px;
  }
  .all-categories-list {
    gap: 10px;
  }
  .all-categories-container {
    margin: 10px;
  }
}

@media screen and (min-width: 720px) and (max-width: 859px) {
  .all-categories-item-container {
    width: calc(50% - 10px);
  }
  .all-categories-container {
    margin: 35px 16px;
  }
}

@media screen and (min-width: 1441px) {
  .all-categories-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
