.filters-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #1d1d1d;
}

.input-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rupees {
  margin-right: 10px;
  font-size: 22px;
}
