* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif;
}
.plp-product-item {
  display: flex;
  flex-direction: column;
  width: calc(20% - 16px);
  height: fit-content;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.16);
  box-shadow: 0 1px 4px #8080801c;
  background-color:#ffffff;
}

.plp-product-image {
  width: 100%;

  align-self: center;
  background-color: gray;
  cursor: pointer;
  margin-bottom: 10px;
  height: 140px;
}
.plp-price {
  color: #046e82;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: Nunito Sans, sans-serif;
  margin-bottom: 4px;
  padding: 0px;
  margin-top: 10px;
}

.plp-product-name {
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
  font-style: normal;
  font-family: Nunito Sans, sans-serif;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  height: 55px;
}
.plp-stock {
  color: #9a031e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: Nunito Sans, sans-serif;
  margin-top: 10px;
  padding: 0px;
  margin-bottom: 0;
}

.product-variant-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.product-variant-select {
  width: 100%;
}

.product-quantity-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.plp-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  padding: 0%;
  margin-top: 20px;
}

.plp-button {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-family: Nunito Sans, sans-serif;
}
.plp-button-quick-shop {
  background-color:#ffffff;
  border: 1px solid #0b0e8e;
  color: #0b0e8e;
}

.plp-button-add-to-cart {
  background-color:#ffffff;
  border: 1px solid #0b0e8e;
  color:#0b0e8e;
}

@media screen and (max-width: 479px) {
  .plp-product-item {
    min-width: 200px;
  }
  .plp-price {
    font-size: 18px;
  }
  .plp-product-name {
    font-size: 16px;
  }
  .plp-stock {
    font-size: 12px;
  }
  .plp-button {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 678px) {
  .plp-product-item {
    min-width: 200px;
  }
  .plp-price {
    font-size: 18px;
  }
  .plp-product-name {
    font-size: 16px;
  }
  .plp-stock {
    font-size: 12px;
  }
  .plp-button {
    font-size: 12px;
  }
}

@media screen and (min-width: 679px) and (max-width: 1024px) {
  .plp-product-item {
    min-width: 200px;
  }
  .plp-price {
    font-size: 20px;
  }
  .plp-product-name {
    font-size: 18px;
  }
  .plp-stock {
    font-size: 14px;
  }
  .plp-button {
    font-size: 14px;
  }
}
