.sr-icon-style {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sr-icon {
  font-size: 1rem;
  color: orange;
}
.sr-empty-icon {
  font-size: 1.19rem;
}
