.screen-items-container {
  display: flex;
  margin: 25px;
  margin-top: 80px;
  text-align: center;
}

.screen-items-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 40px;
  height: 460px;
}

.screen-items-image-container {
  width: 67%;
  height: 460px;
  background-color: gray;
}

.screen-items-image {
  width: 100%;
  height: 100%;
}

.screen-items-description-title {
  color: #0b0e8e;
  font-size: 30px;
  line-height: 1.25;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.screen-items-description-details {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0b0e8e;
}

.screen-items-description-button {
  height: 40px;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-family: Nunito Sans, sans-serif;
  background-color:#ffffff;
  border: 1px solid #0b0e8e;
  color:#0b0e8e;
  margin-top: 20px;
}

@media screen and (max-width: 479px) {
  .screen-items-container {
    flex-direction: column;
    margin: 10px;
  }
  .screen-items-description-container {
    width: 100%;
    order: 1;
    height: 290px;
  }
  .screen-items-image-container {
    width: 100%;
    height: 220px;
  }
  .screen-items-description-title {
    font-size: 24px;
  }
  .screen-items-description-details {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .screen-items-container {
    flex-direction: column;
    margin: 10px;
  }
  .screen-items-description-container {
    width: 100%;
    order: 1;
    height: 290px;
  }
  .screen-items-image-container {
    width: 100%;
    height: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .screen-items-container {
    flex-direction: column;
    margin: 16px;
  }
  .screen-items-description-container {
    width: 100%;
    order: 1;

    height: 280px;
  }
  .screen-items-image-container {
    width: 100%;
  }
  .screen-items-description-details {
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 1440px) {
  .screen-items-description-container {
    height: 580px;
  }
  .screen-items-image-container {
    height: 580px;
  }
  .screen-items-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1441px) {
  .screen-items-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
