.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.forgot-password-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.forgot-password-form-heading {
  font-size: 28.25px;
  color: #1d1d1d;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
}

.forgot-password-reset-psw-heading {
  font-size: 24px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .forgot-password-form-heading {
    font-size: 22px;
  }
}

.forgot-password-input-field {
  padding: 12px 8px;
  color: #4d4d4d;
  background-color:#ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 18px;
  height: 40px;
  line-height: 1.15;
  outline: none;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;

  width: 100%;
}

.forgot-password-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.forgot-password-submit-button {
  color:#0b0e8e;
  background-color:#ffffff;
  border: 1px solid #9a031e;
  font-weight: bold;
  font-size: 18px;
  padding: 0.625rem 1rem;

  letter-spacing: 0em;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 20px;

  outline: none;
  height: 50px;
}
.forgot-password-cancel-button {
  color: #9a031e;
  background-color:#ffffff;
  border: 1px solid #9a031e;
  font-weight: bold;
  font-size: 18px;
  padding: 0.625rem 1rem;

  letter-spacing: 0em;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 20px;

  outline: none;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .forgot-password-button {
    width: 40%;
  }
}
